/*
Author: James Barlow
File Name: styles.css
Date: 09/20/1990
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1 {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for images */
img {
  max-width: 100%;
  display: block;
}
